

body {
	background-image: url(../images/missile.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
}
footer {
	background-color: #007500;
	height: 10em;
}
footer > p {
	font-size: 3em;
	font-family: monaco;
}
header {
	height: 10em;
	background-color: #007500;
}
header > p {
	font-size: 4em;
	font-family: monaco;
}
.row {
	padding-left: 20em;
	padding-top: 10em;
}
.square {
	min-height: 100px;
	min-width: 50px;
	max-width: 85px;
	background-color: blue;
	box-sizing: border-box;
	border: 5px solid red;
	font-size: 3em;
	text-align: center;
	vertical-align: middle;
	line-height: 2em;
}
.tally {
	min-height: 100px;
	min-width: 50px;
	max-width: 85px;
	background-color: blue;
	box-sizing: border-box;
	border: 5px solid red;
}
